html {
    scroll-behavior:auto;
}

.section-title{
    margin-top: 88px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    height: 200px;
    width: 400px;
    max-width: 100%;
    margin-bottom: 30px;
}

.about .first{
    background: url(../img/first.jpg) no-repeat;
    background-size: cover;
}

 .about .second{
    background: url(../img/second.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .about{
    height: 300px;
    width: 700px;
    max-width: 100%;
    }

    h1{
        font-size: var(--h1-size);
    }

}

@media screen and (min-width: 1024px) {
    .about{
    gap: 24px;
    height: 400px;
    width: 1200px;
    max-width: 100%;
    }
    
}

@media screen and (min-width: 1440px) {
    .about{
    height: 500px;
    width: 1500px;
    max-width: 100%;
    }

    h1{
        font-size: var(--h1-size);
    }

}