html {
  scroll-behavior: smooth;
}

.about .section-title {
  margin-top: 88px;
}

.about .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 24px;
}

.about .grid-container .item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about .grid-container .texto-largo {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

.about .button {
  width: 300px;
  height: 66px;
  display: block;
  line-height: 66px;
  border-radius: 36px;
  margin: auto;
  text-align: center;
  font-size: var(--body1-size);
  font-weight: var(--title-weight);
  font-family: "Inter";
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secundary-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .about .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .about .grid-container .texto-largo {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1024px) {
  .about .button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-secundary-color);
  }
}

@media screen and (min-width: 1440px) {
  .about .grid-container {
    padding: 50px;
    gap: 20px;
  }
}
