html {
  scroll-behavior: smooth;
}

.about .section-title {
  margin-top: 88px;
}

.about .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 24px;
}

.about .card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 0 24px;
}

.about .card-container .card {
  background-color: var(--text-secundary-color);
  border: 1px solid var(--metal-light);
  border-top: 4px solid var(--primary-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 16px;
  padding: 12px;
}

.about .card-container .card span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.about .card-container .card h5,
.about .card-container .card h4 {
  text-align: start;
  font-family: "Inter", sans-serif;
  color: var(--text-primary-color);
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 0 24px;
  margin-bottom: 0;
}

.about .card-container .card li {
  text-align: start;
  font-family: "Inter", sans-serif;
  color: var(--text-primary-color);
  line-height: 1.6;
}

.about .grid-container .item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about .grid-container .texto-largo {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}

.about .button {
  width: 300px;
  height: 66px;
  display: block;
  line-height: 66px;
  border-radius: 36px;
  margin: auto;
  text-align: center;
  font-size: var(--body1-size);
  font-weight: var(--title-weight);
  font-family: "Inter";
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secundary-color);
  cursor: pointer;
  margin-bottom: 88px;
}

@media screen and (min-width: 768px) {
  .about .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .about .card-container {
    grid-template-columns: 1fr 1fr;
  }

  .about .grid-container .texto-largo {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1024px) {
  .about .button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-secundary-color);
  }

  .about .card-container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(13, 27, 42, 0.1);
    border-top-color: var(--secundary-color);
  }

  .about .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .about .grid-container {
    padding: 50px;
    gap: 20px;
  }

  .about .card-container .card span {
    font-size: var(--h4-size);
  }

  .about .card-container .card h5,
  .about .card-container .card h4 {
    font-size: var(--body3-size);
  }

  .about .card-container .card li {
    font-size: var(--body3-size);
  }
}

@media screen and (min-width: 2560px) {
  .about .card-container .card span {
    font-size: var(--h3-size);
  }

  .about .card-container .card h5,
  .about .card-container .card h4 {
    font-size: var(--h4-size);
  }

  .about .card-container .card li {
    font-size: var(--h4-size);
  }
}
