html {
  scroll-behavior: smooth;
}

.about {
  text-align: start;
  margin: 24px;
}

.about .section-title {
  margin-top: 88px;
}

.about .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding: 10px;
}

.about .grid-container .item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about .grid-container .texto-largo {
  text-align: center;
}

.about .button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  font-size: var(--body2-size);
  font-weight: var(--title-weight);
  font-family: "Inter";
  text-decoration: none;
  color: var(--metal-light);
  background-color: var(--secundary-color);
  border: 1px solid transparent;
  border-radius: 100px;
  width: auto;
  cursor: pointer;
  padding: 12px 20px;
}

@media screen and (min-width: 768px) {
  .about .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .about .grid-container .texto-largo {
    grid-column: 1 / -1;
    text-align: center;
  }

  .about .button {
    margin: 0 200px;
   padding: 14px 24px;
  }
}

@media screen and (min-width: 1024px) {
    .about .button {
    margin: 0 400px;
  }

  .about .button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-secundary-color);
  }
}

@media screen and (min-width: 1440px) {
  .about .button {
    font-size: var(--h4-size);
    margin: 0 500px;
  }

  .about .grid-container {
    padding: 50px;
    gap: 20px;
  }
}

@media screen and (min-width: 2560px) {
  .about .button{
    margin: 0 1000px;
  }
}