html {
  scroll-behavior: smooth;
}

.about {
  text-align: start;
  margin: 24px;
}

.about .section-title {
  margin-top: 88px;
}

.about .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  padding: 10px;
}

.about .grid-container .item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about .grid-container .texto-largo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .about .grid-container .texto-largo {
    grid-column: 1 / -1;
    text-align: center;
  }


}

@media screen and (min-width: 1440px) {
  .about .grid-container {
    padding: 50px;
    gap: 20px;
  }
}
