@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  /*Cores*/
  --primary-color: #0d1b2a;
  --secundary-color: #f4a261; /*btn*/
  --tertiary-color: #e76f51; /*hover*/

  /*Cores dp Texto*/
  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;
  --text-main: #1b263b;
  --text-muted: #778da9;
  --metal-dark: #415a77; /*Estruturas*/
  --metal-light: #e0e1dd; /*Fundo de Sessões*/

  /*Cor do Background*/
  --background-primary-color: #ffffff;
  --background-secundary-color: #f8f9fa;
  --background-tertiary-color: #000000;

  /*Peso da Fonte*/
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  /*Tamanho da Fonte*/
  --h1-size: 48px;
  --h2-size: 40px;
  --h3-size: 32px;
  --h4-size: 28px;
  --body1-size: 16px;
  --body2-size: 20px;
  --body3-size: 24px;
  --subtitle: 14px;
}

/*CSS Reset*/
body,
img,
h1,
p,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

.section-title {
    text-align: center;
    color: var(--metal-dark);
}

.section-title h1:hover{
    color: var(--text-main);
}

.section-title hr{
    height: 4px;
    width: 180px;
    background-color: var(--text-muted);
    border: none;
    margin: 3px auto 42px;
}

section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
}

h1{
  font-family: "Montserrat";
}

h2{
    font-family: "Montserrat";
    font-size: var(--body2-size);
    color: var(--text-main) ;
    font-weight: var(--text-weight);
}

h3{

      font-family: "Montserrat";
      text-align: center;
    font-size: var(--body2-size);
    color: var(--text-primary-color) ;
    font-weight: var(--text-weight);
        width: 312px;
  margin: 0 auto 88px;
      line-height: 1.5;

}

@media screen and (min-width: 768px) {
    h2 {
    font-size: var(--h3-size);
    text-align: start;
  } 
  h3{
    width: 700px;
    font-size: var(--h4-size) ;
  }
}

  @media screen and (min-width: 1024px) {
   h2 {
    font-size: var(--h2-size);
  } 
    h3{
    text-align:center;
    width: 1000px;
    font-size: var(--h3-size) ;
  }
}

@media screen and (min-width: 1440px) {
      h3{
    width: 1400px;
  }
  
}

  @media screen and (min-width: 2560px) {
   h2 {
    font-size: var(--h2-size);
  } 
    h3{
    width: 2500px;
  }
}