.main-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.main-header .list-links li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
  color: var(--secundary-color);
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.navigation-menu {
  margin-top: 25px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
  }
  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 467px;
  }

  .navigation-menu ul a {
    transition: 0.3s;
  }

  .navigation-menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  main-header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .img-desktop {
    display: block;
  }

  .img-mobile {
    display: none;
  }

  .navigation-menu li a:hover {
    color: var(--tertiary-color);
  }
}

@media screen and (min-width: 1920px) {
  main-header {
    padding: 38px 160px;
  }
}
