.hero .hero-img,
.hero-footer .hero-img{ 
  width: 100%;
  height: 400px;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero-footer .hero-img {
  background: url(../img/hero-footer-mobile.jpg) no-repeat;
  background-size: cover;
} 

 .hero h2 {
  padding: 88px 24px;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
} 

@media screen and (min-width: 768px) /* Tablet */ {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero-footer .hero-img {
    height: 400px;
    background: url(../img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
  } 

   .hero h2 {
    padding: 88px 60px;
  } 

}

@media screen and (min-width: 1440px) /* Desktop*/ {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 104px;
  }

   .hero-footer .hero-img {
    height: 600px;
    background: url(../img/hero-footer-desktop.jpg) no-repeat;
    background-size: cover;
  }


   .hero h2 {
    padding: 88px 120px;
  } 
}
