.hero .hero-img,
.footer-hero .hero-img{ 
  width: 100%;
  height: 400px;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
/* .footer-hero .hero-img {
  background: url(../img/hero-bottom-mobile.jpg) no-repeat;
  background-size: cover;
} */

 .hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-family: "Montserrat";
  color: var(--text-main) ;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
} 

@media screen and (min-width: 768px) /* Tablet */ {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  /* .footer-hero .hero-img {
    height: 400px;
    background: url(../img/hero-bottom-tablet.jpg) no-repeat;
    background-size: cover;
  } */

   .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  } 

}

@media screen and (min-width: 1440px) /* Desktop 1024px */ {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 104px;
  }

  /* .footer-hero .hero-img {
    height: 600px;
    background: url(../img/hero-bottom-desktop.jpg) no-repeat;
    background-size: cover;
  } */


   .hero h2 {
    padding: 88px 120px;
    font-size: var(--h2-size);
  } 
}
