html {
  scroll-behavior: smooth;
}

.products {
  text-align: center;
  margin: 24px;
}

.products .section-title {
  margin-top: 88px;
}

.products .text-content h4 {
  text-align: center;
  line-height: 1.5;
}

.products .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.products .grid-container .card img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.products .grid-container .card .text {
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    padding: 0px;
    gap: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    margin: 0px;
  }
  .products .text-content {
    margin: 24px;
  }
  .products .grid-container {
    grid-template-columns: repeat(4, 1fr);
    padding: -24px;
  }
}
