html {
  scroll-behavior: smooth;
}

.products {
  text-align: center;
  margin: 24px;
}

.products .section-title {
  margin-top: 88px;
}

.products .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 15px;
}

.products .grid-container .card img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.products .grid-container .card .text {
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .products .text-content {
    margin: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .products .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
